<header class="cabecera">
  <img src="assets/fondo.jpg " class="imagen" />
  <div class="informacion">
    <h2>Hoja de vida</h2>
    <h2>Nicolas Ruiz</h2>
  </div>

  <div class="links">
    <span class="material-icons">home</span>
    <span class="material-icons">phone</span>
    <span class="material-icons">facebook</span>
    <span class="material-icons">cloud</span>
  </div>
</header>

<nav class="navi">
  <a>Datos Personales</a>
  <a>Datos Profesionales</a>
  <a>Datos Academicos</a>
</nav>
