nav {
  background-color: #028090;
  display: flex;
  font-size: 3vw;
  justify-content: center;
  margin: 1vw;
}

nav a {
  text-decoration: none;
  margin: 3vw;
  align-content: center;
  color: #fbfdfc;
  font-weight: 1000;
}
